/src/Core.5.0.0/Entity/obj
/src/Core.5.0.0/Entity/bin
/src/Globalization/obj
/src/Globalization/bin
/src/Core.5.0.0/Service/obj
/src/Core.5.0.0/Service/bin
/src/SupplierPortal.5.0.0/Web.SupplierPortal.5.0.0/obj
/src/SupplierPortal.5.0.0/Web.SupplierPortal.5.0.0/Bin
/src/SupplierPortal.5.0.0/WebUtil/obj
/src/SupplierPortal.5.0.0/WebUtil/bin
/src/Core.5.0.0/Util/obj
/src/Core.5.0.0/Util/bin
/src/Core.5.0.0/PrintModel/obj
/src/Core.5.0.0/PrintModel/bin
/src/Core.5.0.0/Persistence/obj
/src/Core.5.0.0/Persistence/bin
