@{
    //ViewBag.Title = "上汽依维柯红岩物流执行系统";
    Layout = "~/Views/Shared/_Default.cshtml";
}
@section HeadContent {
    @*<title>上汽依维柯红岩物流执行系统</title>*@
    <title>@ViewBag.SystemTitle</title>
    <script language="javascript" type="text/javascript">
        if (top.location !== self.location) {
            top.location = self.location;
        }

        function LoadRightFrame() {
            document.getElementById("Right").src = "@Url.Content("~/Main/Main")";
        }  
    </script>
}
<frameset framespacing="0" rows="51,*" frameborder="NO">
	<frame name="topFrame" src="Top" scrolling=no />
	<frameset id="mainframeset" name="mainframeset" frameSpacing="0" frameBorder="NO" cols="220,12,*" scrolling="no">
		<frame id="Nav" name="Nav" src="Nav" scrolling="auto" target="Right" onload="LoadRightFrame()"/>
	    <frame name="Switch" src="Switch" frameBorder="no" noResize scrolling="no"/>
	    <frame name="Right" id="Right" scrolling="auto" />
	</frameset>
</frameset>
