<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <components>
        <component id="NVelocityTemplateRepository"
                type="com.Sconit.Utility.NVelocityTemplateRepository, com.Sconit.Utility" lifestyle="Singleton">
            <parameters>
                <templateDirectory>#{NVelocityTemplateDirectory}</templateDirectory>
                <templateNameDictionary>
                    <dictionary keyType="System.Int32, mscorlib" valueType="System.String, mscorlib">
                        <!--MasterData-->
                        <entry key="10101">ErrorTemplate2.htm</entry>

                        <entry key="10201">ErrorTemplate2.htm</entry>

                        <!--ProdOrder-->
                        <entry key="10301">ErrorTemplate2.htm</entry>

                        <!--ProcOrder-->
                        <entry key="10501">ErrorTemplate2.htm</entry>

                        <!--Quota-->
                        <entry key="10601">ErrorTemplate2.htm</entry>

                        <!--Trans-->
                        <entry key="10701">ErrorTemplate2.htm</entry>
                        <entry key="10702">ErrorTemplate2.htm</entry>
                        <entry key="10703">ErrorTemplate2.htm</entry>
                        <entry key="10704">ErrorTemplate2.htm</entry>
                        <entry key="10705">ErrorTemplate2.htm</entry>
                        <entry key="10706">ErrorTemplate2.htm</entry>
                        <entry key="10707">ErrorTemplate2.htm</entry>

                        <entry key="10801">ErrorTemplate2.htm</entry>
                        <entry key="10802">ErrorTemplate2.htm</entry>

                        <entry key="10901">ErrorTemplate2.htm</entry>
                        <entry key="10902">ErrorTemplate2.htm</entry>

                        <!-- 生成库存报表 -->
                        <entry key="11301">ErrorTemplate2.htm</entry>

                        <!-- 整车生产单暂停/恢复 -->
                        <entry key="12101">ErrorTemplate2.htm</entry>
                        <entry key="12102">ErrorTemplate2.htm</entry>

                        <!--Kit单修改-->
                        <entry key="12103">ErrorTemplate2.htm</entry>
                        
                        <!--看板订单创建失败-->
                        <entry key="12104">ErrorTemplate2.htm</entry>

                        <!--精益引擎运行异常-->
                        <entry key="12105">ErrorTemplate2.htm</entry>
                    </dictionary>
                </templateNameDictionary>
            </parameters>
        </component>
    </components>
</configuration>