<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <components>
        <component id="EmailMgr.service"
          service="com.Sconit.Service.IEmailMgr, com.Sconit.Service"
          type="com.Sconit.Service.Impl.EmailMgrImpl, com.Sconit.Service" lifestyle="Singleton">
            <parameters>
                <userName>#{ExchangeUserName}</userName>
                <userPassword>#{ExchangeUserPassword}</userPassword>
                <senderNo>#{ExchangeSenderNo}</senderNo>
                <isOneByOne>#{ExchangeIsOneByOne}</isOneByOne>
            </parameters>
        </component>

        <component id="ShortMessageMgr.service"
          service="com.Sconit.Service.IShortMessageMgr, com.Sconit.Service"
          type="com.Sconit.Service.Impl.ShortMessageMgrImpl, com.Sconit.Service" lifestyle="Singleton">
            <parameters>
                <userName>#{ShortMessageUserName}</userName>
                <userPassword>#{ShortMessageUserPassword}</userPassword>
                <app>#{ShortMessageApp}</app>
                <sourceIdentifier>#{ShortMessageSourceIdentifier}</sourceIdentifier>
            </parameters>
        </component>
        
        <component id="PubSubMgr.service"
           service="com.Sconit.Service.IPubSubMgr, com.Sconit.Service"
           type="com.Sconit.Service.Impl.PubSubMgrImpl, com.Sconit.Service" lifestyle="Singleton">
            <parameters>
                <EndPointAddress>#{EndPointAddress}</EndPointAddress>
            </parameters>
        </component>

        <component id="genericeMgr"
            service="com.Sconit.Service.IGenericMgr, com.Sconit.Service"
            type="com.Sconit.Service.Impl.GenericMgrImpl, com.Sconit.Service" lifestyle="Singleton">
            <parameters>
                <dao>${mainDao}</dao>
            </parameters>
        </component>

        <component id="queryMgr"
           service="com.Sconit.Service.IQueryMgr, com.Sconit.Service"
           type="com.Sconit.Service.Impl.QueryMgrImpl, com.Sconit.Service" lifestyle="Singleton">
            <parameters>
                <queryDao>${subDao}</queryDao>
            </parameters>
        </component>

        <component id="securityMgr"
          service="com.Sconit.Service.ISecurityMgr, com.Sconit.Service"
          type="com.Sconit.Service.Impl.SecurityMgrImpl, com.Sconit.Service" lifestyle="Singleton">
          <parameters>
            <Domain>#{Domain}</Domain>
          </parameters>
        </component>

    </components>
</configuration>