<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <properties>
        <mainConnectionString>
          Server=10.86.13.83;Database=Supplier_Portal;uid=sa;pwd=P@ssw0rd;
        </mainConnectionString>
        <subConnectionString>
            Server=10.86.13.83;Database=Supplier_Portal;uid=sa;pwd=P@ssw0rd;
        </subConnectionString>
        <ConnectionTimeOutString>
            Connect Timeout=600;
        </ConnectionTimeOutString>
        <EndPointAddress>net.tcp://localhost:7001/Pub</EndPointAddress>
        <Domain>LDAP://sih.cq.cn</Domain>
        <ReportTemplateFolder>D:\GIT\sih-les\src\WebApp.5.0.0\WebApp\Resource\Templates\Excel\</ReportTemplateFolder>
        <ReportTemporaryFolder>D:\temp\</ReportTemporaryFolder>
        <NVelocityTemplateDirectory>D:\GIT\sih-les\src\WebApp.5.0.0\WebApp\Resource\Template\NVelocity\</NVelocityTemplateDirectory>
        <ExchangeUserName>SEMAIL2</ExchangeUserName>
        <ExchangeUserPassword>SENDEMAILV2PASSWORD</ExchangeUserPassword>
        <ExchangeSenderNo>4</ExchangeSenderNo>
        <ExchangeIsOneByOne>False</ExchangeIsOneByOne>
        <ShortMessageUserName>LES</ShortMessageUserName>
        <ShortMessageUserPassword>LES</ShortMessageUserPassword>
        <ShortMessageApp>LES</ShortMessageApp>
        <ShortMessageSourceIdentifier>Sconit5</ShortMessageSourceIdentifier>
    </properties>
</configuration>
